# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_df = pd.read_csv('../output_data/cities.csv')
city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed
0,port-cartier,75,CA,1596678364,100,50.03,-66.87,62.01,6.93
1,albany,75,AU,1596678364,66,-35.02,117.89,53.60,8.05
2,jamestown,100,SH,1596678364,85,-15.94,-5.72,62.38,20.58
3,berbera,100,SO,1596678364,47,10.44,45.01,88.63,21.61
4,hualmay,15,PE,1596678365,83,-11.10,-77.61,58.55,7.83

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Store lat/long in location
location = city_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = city_df["Humidity"]

# Put heatmap on plot
heatmap = gmaps.Map()

# Create "heat"
heat = gmaps.heatmap_layer(location, weights=humidity)

# Add layer
heatmap.add_layer(heat)

# Display figure
heatmap

Map(configuration={'api_key': 'AIzaSyClKCwO8pD5P1YkdiiVwakx3OoIzlcePeI'}, data_bounds=[(-49.571318406364156, -…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
best_city_df = city_df.loc[city_df['Max Temp'] < 80, :]

best_city_df = best_city_df.loc[best_city_df['Max Temp'] > 70, :]
best_city_df = best_city_df.loc[best_city_df['Windspeed'] < 10, :]
best_city_df = best_city_df.loc[best_city_df['Cloudiness'] == 0, :]
best_city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed
34,flin flon,0,CA,1596678337,45,54.77,-101.86,73.09,3.49
44,alta floresta,0,BR,1596678376,43,-9.88,-56.09,73.08,4.90
53,surab,0,PK,1596678438,44,28.49,66.26,78.24,3.71
75,gold coast,0,AU,1596678388,49,-28.00,153.43,77.00,8.05
83,gimli,0,CA,1596678306,94,50.63,-96.99,78.01,6.04

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = best_city_df
hotel_df['Hotel Name'] = np.nan

search_term = "Hotel"
search_radius = 5000
search_type = "lodging"

index_var = 0
for index, row in hotel_df.iterrows():
    # set up a parameters dictionary
    params = {
        "location": f"{row['Lat']}, {row['Lng']}",
        "keyword": search_term,
        "radius": search_radius,
        "type": search_type,
        "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    response_json = response.json()
    results = response_json['results']
    if len(results) > 0:
        name = response_json['results'][0]['name']
        hotel_df.iloc[index_var, -1] = name
    index_var = index_var + 1

narrowed_df = hotel_df
narrowed_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed,Hotel Name
34,flin flon,0,CA,1596678337,45,54.77,-101.86,73.09,3.49,Victoria Inn Flin Flon
44,alta floresta,0,BR,1596678376,43,-9.88,-56.09,73.08,4.90,Lisboa Palace Hotel
53,surab,0,PK,1596678438,44,28.49,66.26,78.24,3.71,Muslim Rent Rooms
75,gold coast,0,AU,1596678388,49,-28.00,153.43,77.00,8.05,Hilton Surfers Paradise Hotel & Residences
83,gimli,0,CA,1596678306,94,50.63,-96.99,78.01,6.04,Lakeview Gimli Resort

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [8]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
heatmap.add_layer(marker_layer)

# Display figure
heatmap

Map(configuration={'api_key': 'AIzaSyClKCwO8pD5P1YkdiiVwakx3OoIzlcePeI'}, data_bounds=[(-49.571318406364156, -…